<ion-content class="onboarding" fullscreen>
  <div class="container">
    <div class="logo-wrapper">
      <div class="logo-circle">
        <img src="/assets/images/logo.png" alt="logo" />
      </div>
    </div>

    <h1 class="title">Shoppe</h1>

    <p class="subtitle">
      Beautiful eCommerce UI Kit<br />
      for your online store
    </p>

    <ion-button expand="block" class="start-btn">
      Let’s get started
    </ion-button>

    <div class="login-row">
      <span>I already have an account</span>
      <div class="arrow-btn">
        <ion-icon name="arrow-forward"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
