.odometer {
  display: flex;
  margin: auto;
}
.vsking {
  display: flex;
  margin-top: 33%;
}
.digit:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.digit:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.digit {
  width: 32px;
  height: 48px;
  overflow: hidden;
  background: var(--ion-color-primary);
  padding: 2px;
  border-right: 1px solid #fff;
  color: #fff;
}

.digit-inner {
  transition: transform 0.7s cubic-bezier(0.2, 0.8, 0.3, 1);
}

.digit-inner.no-transition {
  transition: none;
}

.digit-inner div {
  height: 48px;
  line-height: 48px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
.roll-c {
  text-align: center;
  .roll-btn {
    padding: 10px 44px;
    margin-top: 10%;
    border-radius: 10px;
    background: var(--ion-color-primary);
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
  }
}
