<ion-app>
  <!-- Install Banner -->
  <div id="install-banner" class="install-banner" style="display: none">
    <span>Install ABCU for better experience 🚀</span>
    <button class="btn install" (click)="installApp()">Install</button>
    <button class="btn close" (click)="dismissBanner()">✕</button>
  </div>

  <!-- Update Popup -->
  <div id="update-box" class="update-box" style="display: none">
    <span>🚀 New version available</span>
    <button class="btn update" (click)="updateApp()">Update</button>
  </div>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
