<ion-app>
  <div class="install-banner">
    <div class="banner-content">
      <div class="app-info">
        <img src="assets/icon/icon-192.png" class="app-icon" />
        <div>
          <h4>ABCU</h4>
          <p>Install for better experience</p>
        </div>
      </div>

      <div class="actions">
        <button class="btn install" (click)="installApp()">Install</button>
        <button class="btn close" (click)="dismissBanner()">✕</button>
      </div>
    </div>
  </div>
  <div class="update-box">
    <div class="update-content">
      <span>🚀 New version available</span>
      <button class="btn update" (click)="updateApp()">Update</button>
    </div>
  </div>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
